html, body{
    margin: 0;
    font-size: 16px;
    min-block-size: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

:root{
    --SPACING: 1rem;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;    
}

a{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}



a:visited{
    color: black;
}

nav a{
    text-decoration: none;
}

p{
    line-height: 2;
}


img{
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    border: 2px solid lightgrey;
}

.preamble{
    margin-block: calc(4*var(--SPACING));
}

.root{

}

.root__list{

}

.root__list__item{
    margin-bottom: calc(2*var(--SPACING));
    display: flex;
    flex-direction: column;
}

.tag-container{
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    
}

.tag-container__item{
    margin-right: .5rem;
    display: inline-block;
    color: #6B6B6B;
    padding: .25rem .7rem;
    background-color:#dfdfdf;
    font-size: .9rem;
    border-radius: 5rem;
}

.tag-container__item:first-letter{
    text-transform: uppercase;
}

/* time{
    padding: .25rem .5rem;
    border: 1px solid black;
    border-radius: .25rem;
} */

time{
    padding: 0;
    font-size: .9rem;
    color: #6B6B6B;
    font-weight: 600;
    border: none;
}

footer{    
    display: flex;
    flex-direction: column;
    padding: var(--SPACING);
    background-color: white;
    padding-block: calc(8*var(--SPACING));
}

footer .content-container{
    inline-size: min(80ch, 100%);
    margin: 0 auto;
}


input[type='text']{
    margin-bottom: var(--SPACING);
    padding: calc(var(--SPACING)*.5);
    font-size: 1.1rem;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    transition: border .3s ease-in-out;
}

input[type='text']:focus{
    border: 1px solid black;
}

input[type='submit']{
    border: 2px solid black;
    background-color: black;
    font-weight: 400;
    color: white;
    padding: .25rem .7rem;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
}

input[type='submit']:disabled{
    cursor: none;
    background-color: #a8a7a7;
}

.post__meta-container{
    display: flex;
    flex-direction: column;
}


.post__meta-container h1{
    margin: 0;
    margin-block: .5rem;
    font-weight: 600;
}

.post__meta-container__inline-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-button{
    --WIDTH: 1.25rem;
    border-radius: 50%;
    background-color: black;
    block-size: var(--WIDTH);
    inline-size: var(--WIDTH);
    aspect-ratio: 1;
    cursor: pointer;
    position: relative;
    margin-right: calc(0.5*var(--SPACING));
    border: 3px solid black;
    transition: all .3s ease-in-out;
}

.back-button:hover{
    background-color: white;
}

.back-button::after{
    position: absolute;
    content: "";
    aspect-ratio: 1;
    background-color: black;
    border: 3px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    --WIDTH: .3rem;
    inline-size: var(--WIDTH);
    block-size: var(--WIDTH);
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    top: 50%;
}

.back-button:hover > .back-button::after{
    background-color: white;
    border: 3px solid black; 
    border-right-color: white;
    border-top-color: white;
}