html, body{
    margin: 0;
    font-size: 16px;
    min-block-size: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

:root{
    --SPACING: 1rem;
}

ul{
    padding: 0;
}

li{
    list-style-type: none;    
}

a{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}



a:visited{
    color: black;
}

nav a{
    text-decoration: none;
}

p{
    line-height: 2;
}


img{
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    border: 2px solid lightgrey;
}

.root{

}

.root__list{

}

.root__list__item{
    margin-bottom: calc(2*var(--SPACING));
}

.tag-container{
    margin-block-start: .25rem;
    margin-block-end: 1rem;
}

.tag-container__item{
    margin-right: .5rem;
    display: inline-block;
}

.tag-container__item:first-letter{
    text-transform: uppercase;
}

time{
    padding: .25rem .5rem;
    border: 1px solid black;
    border-radius: .25rem;
}

footer{    
    display: flex;
    flex-direction: column;
    padding: var(--SPACING);
    background-color: white;
    padding-block-end: calc(4*var(--SPACING));
}

footer .content-container{
    inline-size: min(80ch, 100%);
    margin: 0 auto;
}


input[type='text']{
    margin-bottom: var(--SPACING);
    padding: calc(var(--SPACING)*.5);
    font-size: 1.1rem;
    border: 2px solid lightgrey;
    border-radius: .5rem;
    transition: border .3s ease-in-out;
}

input[type='text']:focus{
    border: 2px solid black;
}